body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #1c1e26;
    color: #cccccc;
    line-height: 1.5;
}

.navbar {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: relative;
    top: 0;
    left: 0;
    width: 74%;
    padding: 5px 13%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    margin-bottom: 30px;
}

.navbar h1 {
    text-align: center;
    color: rgb(219, 136, 111);
    font-size: 25px;
}

.equation {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    width: auto;
}

math {
    margin: 10px 0;
}

.back {
    left: 1%;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.material-icons:hover {
    color: #bbbbbb !important;

}

.page-body {
    width: 75%;
    margin: auto;
    max-width: 1100px;
}

#evidence {
    padding: 20px 0 20px 0;
    align-items: center;
    text-align: center;
}

#evidence video,
#evidence img {
    width: 80%;
    border-radius: 15px;
    display: sticky;
}

#evidence p {
    width: 80%;
}

.header {
    padding-left: 2%;
}

video,
img {
    min-height: 100%;
    width: auto;
    height: auto;
    border-radius: 15px;
    margin-bottom: 2%;

    overflow: hidden;
}

.small-img {
    width: 70%;
    margin: auto;
}

.header h2 {
    font: italic 800 40px Open Sans, sans-serif;
    color: #ff7357;
    border: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 2px;
}

.body h3 {
    margin-bottom: 0;
    color: #ffffff;
}

.body p {
    margin: 10px 0;

}

.date {
    color: #cccccc;
    font: 600 14px Open Sans, sans-serif;
    margin-bottom: 20px;
}

.body {
    display: flex;
    padding: 20px 5%;
    flex-direction: column;
    align-content: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.00);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    transition: backdrop-filter 0.4s ease;
    transition: background-color 0.4s ease;
    border-radius: 15px;
    box-shadow: 0 8px 32px 2px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 2px rgba(0, 0, 0, 0.37);
    margin-bottom: 10px;
}


.body a {
    color: #db886f;
    font-weight: bold;
}

.body a:hover {
    color: #bbbbbb !important;

}

.checklist {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    line-height: 2;
}

.code-block {
    position: relative;
    background-color: #17181f;
    /* Match Prism.js theme background color */
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    overflow: auto;
    font-size: 12px;
}

.code-block:hover .code-label,
.code-block:hover .copy-button {
    display: block;
    opacity: 1;
}

.code-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #17181f;
    font-family: Consolas, 'Courier New', monospace;
}

@media only screen and (max-width: 759px) {

    .page-body {
        width: 100% !important;
    }

    .body {
        border-radius: 0px !important;
        border: 0px !important;
    }

    .page-body h2 {
        font-size: 30px !important;
    }

    .date {
        font-size: 12px !important;
    }

    .header {
        padding-left: 4% !important;
    }

    .small-img {
        width: auto;
    }

    img{
        margin: 0  !important;
    }

    #evidence video,
    img {
        width: 100%;
        border-radius: 0;
    }

    #evidence {
        padding-bottom: 0;
    }

    video {
        border-radius: 0px;
    }
}