body {
    padding-top: 95px;
    margin: 0%;
    font-family: "poppins", sans-serif;
    background-color: #1c1e26;
    word-break: break-word;
    word-wrap: break-word;
}

header {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    width: 74%;
    padding: 5px 13%;
    background-color: #1c1e26;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10000;
    transition: 0.5s;
}

header h1 {
	margin: 20.75px 0;
    text-align: center;
    color: rgb(219, 136, 111);
    font-size: 25px;
	transition: 0.5s;
}

.sticky {
	position:fixed;
	padding: 5px 13%;
}

.sticky i {
	font-size: 48px !important;
}
.sticky h1 {
	font-size: 20px;
	margin: 10px 0;
}


.back {
    position: absolute;
    left: 1%;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.material-icons:hover {
    color: #bbbbbb !important;
}

.page-body {
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

.post {
    cursor: pointer;
    height: 312px;
    border: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    padding-bottom: 84px;
    padding-right: 76px;
    padding-left: 136px;
    padding-top: 76px;
    margin-bottom: 30px;

    background-color: rgba(255, 255, 255, 0.00);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    transition: backdrop-filter 0.4s ease;
    transition: background-color 0.4s ease;
    border-radius: 15px;
    box-shadow: 0 8px 32px 2px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 2px rgba(0, 0, 0, 0.37);

}

.divider {
    border: none;
    border-top: 1px dashed #494b51;
    height: 1px;
    margin: 20px 0 50px;

}


.post h2 {
    font: italic 800 40px Open Sans, sans-serif;
    color: #ff7357;
}

.date {
    color: #cccccc;
    font: 600 14px Open Sans, sans-serif;
}



button:hover {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.20);
}


@media only screen and (min-width: 760px) {
    button:hover .post-title {
        bottom: -5px;
        border-radius: 15px;
        transform: translateX(10px);
        transition: .5s ease;
    }

}

@media only screen and (max-width: 759px) {
    header {
        position: absolute;
    }

    .page-body {
        width: 100% !important;
    }

    .page-body button {
        border-radius: 0px !important;
        border: 0px !important;
    }

    .post {
        padding: 0;
        padding-left: 8%;
    }

    .post h2 {
        font-size: 30px !important;
    }

    .date {
        font-size: 10.5px !important;
    }
}