body {
    margin: 0%;
    font-family: "poppins", sans-serif;
    overflow: hidden;
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    
}

.background_gradient {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff5f6c59 , #f3b45b2f);
    position: fixed;
}

.Game_development {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: auto;
    transition: backdrop-filter 0.4s ease;
    transition: background-color 0.4s ease;
}

.Game_development:hover{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.158);

}

.Data_Science {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: auto;

    transition: backdrop-filter 0.4s ease;
    transition: background-color 0.4s ease;
}

.Data_Science:hover{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.158);
}

.Data_Science .Game_development {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    
}

a {
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-decoration: none;
    size: 80px;
    font-weight: bold;
}

